# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [12]:
# Your code here:
legendary = pokemon[pokemon['Legendary']==1]

non_leg = pokemon[pokemon['Legendary']==0]

f'Number of Legendary Pokemons {legendary.Name.count()}, Number of Non-legendary Pokemons {non_leg.Name.count()}'

'Number of Legendary Pokemons 65, Number of Non-legendary Pokemons 735'

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
leg_std = legendary.std()
leg_mean = legendary.mean()
non_leg_std = non_leg.std()
non_leg_mean = non_leg.mean()

leg_std, leg_mean, non_leg_std, non_leg_mean

C:\Users\botic\AppData\Local\Temp\ipykernel_42868\1037331160.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  leg_std = legendary.std()
C:\Users\botic\AppData\Local\Temp\ipykernel_42868\1037331160.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  leg_mean = legendary.mean()
C:\Users\botic\AppData\Local\Temp\ipykernel_42868\1037331160.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  non_leg_std = non_leg.std()
C:\Users\botic\AppData\Local\Temp\ipykernel_42868\1037331160.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  non_leg_mean = non_leg.mean()

(#             173.651095
 Total          60.937389
 HP             21.722164
 Attack         30.348037
 Defense        28.255131
 Sp. Atk        31.104608
 Sp. Def        28.827004
 Speed          22.952323
 Generation      1.455262
 Legendary       0.000000
 dtype: float64,
 #             470.215385
 Total         637.384615
 HP             92.738462
 Attack        116.676923
 Defense        99.661538
 Sp. Atk       122.184615
 Sp. Def       105.938462
 Speed         100.184615
 Generation      3.769231
 Legendary       1.000000
 dtype: float64,
 #             208.590419
 Total         106.760417
 HP             24.808849
 Attack         30.490153
 Defense        30.408194
 Sp. Atk        29.091705
 Sp. Def        25.669310
 Speed          27.843038
 Generation      1.673471
 Legendary       0.000000
 dtype: float64,
 #             353.315646
 Total         417.213605
 HP             67.182313
 Attack         75.669388
 Defense        71.559184
 Sp. Atk        68.454422
 Sp. Def        68.892517
 Speed          65.455782
 Generation      3.284354
 Legendary       0.000000
 dtype: float64)

In [9]:
leg_mean.Total, non_leg_mean.Total

(637.3846153846154, 417.21360544217686)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
 from scipy.stats import ttest_rel, ttest_ind
    
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    # Your code here
   
    if len(s1)!=len(s2):
        if len(s1)>len(s2):
            s1 = s1.sample(len(s2))
        else:
            s2 = s2.sample(len(s1))
    else:
        pass
    for f in features:
        try:
            results[f] = ( ttest_ind(s1[f], s2[f], equal_var = False).pvalue,
                          ttest_rel(s1[f], s2[f]).pvalue)
        except:
            continue
    return results

In [15]:
# Your code here:
t_test_features(legendary, non_leg, features=['Total'])

{'Total': (1.0526701141015783e-27, 1.0056796442336513e-21)}

What do you conclude from this test? Write your conclusions below.

    With this results we can drop the H0 hypothsis and determine with a 95% of confidence interval that Legendary Pokemons and Non-legendary Pokemon are signifficantly differents.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [16]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [17]:
# Your code here:
water_pok = pokemon[pokemon['Type 1'] == 'Water']
others = pokemon[pokemon['Type 1'] != 'Water']

water_pok.mean(), water_pok.std(), others.mean(), others.std()

C:\Users\botic\AppData\Local\Temp\ipykernel_42868\2386115494.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  water_pok.mean(), water_pok.std(), others.mean(), others.std()

(#             303.089286
 Total         430.455357
 HP             72.062500
 Attack         74.151786
 Defense        72.946429
 Sp. Atk        74.812500
 Sp. Def        70.517857
 Speed          65.964286
 Generation      2.857143
 Legendary       0.035714
 dtype: float64,
 #             188.440807
 Total         113.188266
 HP             27.487026
 Attack         28.377192
 Defense        27.773809
 Sp. Atk        29.030128
 Sp. Def        28.460493
 Speed          23.019353
 Generation      1.558800
 Legendary       0.186411
 dtype: float64,
 #             372.536337
 Total         435.859012
 HP             68.802326
 Attack         79.790698
 Defense        73.988372
 Sp. Atk        72.495640
 Sp. Def        72.127907
 Speed          68.654070
 Generation      3.399709
 Legendary       0.088663
 dtype: float64,
 #             209.928799
 Total         121.091682
 HP             25.194299
 Attack         33.025152
 Defense        31.719933
 Sp. Atk        33.292537
 Sp. Def        27.739292
 Speed          29.925907
 Generation      1.666119
 Legendary       0.284463
 dtype: float64)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [19]:
# Your code here:

water_pok.mean().Total, others.mean().Total

C:\Users\botic\AppData\Local\Temp\ipykernel_42868\3728639312.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  water_pok.mean().Total, others.mean().Total

(430.45535714285717, 435.85901162790697)

In [20]:
t_test_features(water_pok, others, features=['Total'])

{'Total': (0.9071631586122016, 0.9122536579019509)}

Write your conclusion below.

    With this results we can´t drop de H0 hypothesis because we don´t find significantly differences between Water Pokemons and Non water Pokemons

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [22]:
# Your code here:
from scipy.stats import ttest_rel

ttest_rel(pokemon['Attack'], pokemon['Defense']).pvalue

1.7140303479358558e-05

Describe the results of the test in the cell below.

    With this results we can drop the H0 hypothesis and confirm with a 95% of confidence interval that Attack and Defense are significantly differences.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [25]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def']).pvalue

0.3933685997548122

Describe the results of the test in the cell below.

    We can't drop the H0 hypothesys because we don´t find significantly differences between Special attack and Special defense.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [30]:
# Your code here:

from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [27]:
# Your code here:
cross = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
cross

Type 1     False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [28]:
# Your code here:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

chi2_contingency(cross)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [29]:
# Your answer here:
ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

0.08625467249550949

    We can`t drop the H0 hypothesis so no exits significantly association between groups