In [1]:
import numpy as np
import pandas as pd

In [2]:
#Load data from vehicles_messy.csv

data = pd.read_csv('../data/vehicles_messy.csv')

# Lanza un warning porque en determinadas columnas no ha podido inferir el tipo de dato.
# Como no lo conozco de antemano, sigo adelante.

/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/3473568431.py:3: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/vehicles_messy.csv')

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [3]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

But how big actually is our dataframe??? Check it with `.shape` method

In [4]:
data.shape

(37843, 83)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [6]:
data.isna().sum()[data.isna().sum() > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [7]:
cols_to_drop = data.columns[data.isna().sum() > 10000]

In [8]:
data.drop(cols_to_drop, axis=1, inplace=False)  # Me devuelve una vista de lo que quito pero NO se aplica

data.columns.shape

(83,)

In [9]:
data.drop(cols_to_drop, axis=1, inplace=True)  # Aplica la transformación

data.columns.shape

(70,)

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

In [10]:
cols_to_explore = ['cylinders', 'displ', 'fuelType']

data_to_check = data[cols_to_explore][data['displ'].isnull()]

data_to_check  # Observo que casi todo son vehículos eléctricos

       cylinders  displ     fuelType
7138         NaN    NaN  Electricity
7139         NaN    NaN  Electricity
8143         NaN    NaN  Electricity
8144         NaN    NaN  Electricity
8146         NaN    NaN  Electricity
...          ...    ...          ...
30969        NaN    NaN  Electricity
30972        NaN    NaN  Electricity
30973        NaN    NaN  Electricity
30974        NaN    NaN  Electricity
30975        NaN    NaN  Electricity

[120 rows x 3 columns]

In [11]:
data_to_check[data['fuelType'] != 'Electricity']  # Hay dos registros que parecen erróneos

# Puedes ignorar el warning, que tiene uer con que el resultado tiene menor dimensión que el DataFrame original
# La documentación recomienda utilizar .loc

/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/1328104755.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_to_check[data['fuelType'] != 'Electricity']  # Hay dos registros que parecen erróneos

       cylinders  displ fuelType
21413        NaN    NaN  Regular
21414        NaN    NaN  Regular

In [12]:
data_to_check.loc[data['fuelType'] != 'Electricity', :]  # Con .loc, mismo resultado pero sin warning

       cylinders  displ fuelType
21413        NaN    NaN  Regular
21414        NaN    NaN  Regular

In [13]:
data['fuelType'].value_counts()  # Veo que valores puede tomar 'fuelType' y cuantas filas contienen 'Regular'

Regular                        25076
Premium                        10004
Gasoline or E85                 1204
Diesel                          1101
Premium or E85                   121
Electricity                      120
Midgrade                          74
CNG                               60
Gasoline or natural gas           20
Premium and Electricity           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: fuelType, dtype: int64

In [14]:
# Veo que las dos filas que parecen erróneas tienen tantos ceros
# como la fila anterior y la siguiente. De momento decido mantenerlas
data.iloc[21412:21416, :]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
21412,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Standard Pickup Trucks,1995,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21413,13.733750,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21414,14.330870,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21415,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,2010,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [15]:
# Utilizo .copy al generar subDataFrames para evitar futuros warnings relacionados con si son copias o vistas
data_displ_null = data[data['displ'].isnull()].copy()

data_displ_null

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Midsize Station Wagons,2000,2750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0000,0,0.0,0.0,46.0000,...,0.0,Two Seaters,2001,1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0000,0,0.0,0.0,75.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30969,0.192,0.0,0.0,4.0,120,119.6000,0,0.0,0.0,28.1744,...,0.0,Small Station Wagons,2017,3750,0.00,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30972,0.204,0.0,0.0,10.0,98,97.5636,0,0.0,0.0,35.0000,...,0.0,Large Cars,2016,3500,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30973,0.192,0.0,0.0,12.0,101,101.4750,0,0.0,0.0,33.0000,...,0.0,Large Cars,2016,3750,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30974,0.210,0.0,0.0,12.0,92,92.4713,0,0.0,0.0,36.0000,...,0.0,Large Cars,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30975,0.216,0.0,0.0,12.0,91,91.2362,0,0.0,0.0,37.0000,...,0.0,Standard Sport Utility Vehicle 4WD,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0

In [16]:
# Una columna constante no aporta nada así que me deshago de ella.
data_displ_null.drop('displ', axis=1, inplace=True)

In [17]:
'displ' in data_displ_null.columns  # Compruebo que he eliminado la columna

False

In [18]:
# Busco las columnas que son todo valores nulos
cols_with_null = [col for col in data_displ_null.columns if data_displ_null[col].isnull().all()]

cols_with_null

['cylinders']

In [19]:
# Localizo las columnas numéricas
cols_numeric = data_displ_null.select_dtypes(include=[np.number]).columns

cols_numeric

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore',
       'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year',
       'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [20]:
# Busco en las columnas numéricas si alguna son todo ceros
cols_with_zero = [col for col in cols_numeric if data_displ_null[col].all() == 0]

cols_with_zero

['barrelsA08',
 'charge120',
 'charge240',
 'city08U',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2',
 'co2TailpipeAGpm',
 'co2TailpipeGpm',
 'comb08U',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'engId',
 'fuelCostA08',
 'highway08U',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'hlv',
 'hpv',
 'lv2',
 'lv4',
 'pv2',
 'pv4',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'UCityA',
 'UHighwayA',
 'charge240b',
 'phevCity',
 'phevHwy',
 'phevComb']

In [21]:
cols_to_drop = cols_with_null + cols_with_zero
data_displ_null = data_displ_null.drop(cols_to_drop, axis=1).copy()

data_displ_null

,barrels08,city08,co2A,comb08,drive,feScore,fuelCost08,fuelType,fuelType1,ghgScore,...,mpgData,phevBlended,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
7138,0.240,81,-1,85,NaN,-1,800,Electricity,Electricity,-1,...,N,False,NaN,116.2069,129.6154,Midsize Station Wagons,2000,2750,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016
7139,0.282,81,-1,72,2-Wheel Drive,-1,900,Electricity,Electricity,-1,...,N,False,NaN,116.2069,91.0811,Sport Utility Vehicle - 2WD,2000,2250,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016
8143,0.282,81,-1,72,2-Wheel Drive,-1,900,Electricity,Electricity,-1,...,N,False,NaN,116.2069,91.0811,Sport Utility Vehicle - 2WD,2001,2250,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016
8144,0.312,74,-1,65,NaN,-1,1000,Electricity,Electricity,-1,...,N,False,NaN,105.3125,82.1951,Two Seaters,2001,1750,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016
8146,0.522,45,-1,39,2-Wheel Drive,-1,1700,Electricity,Electricity,-1,...,N,False,NaN,62.4074,46.8056,Sport Utility Vehicle - 2WD,2001,-1750,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30969,0.192,120,-1,105,Front-Wheel Drive,10,600,Electricity,Electricity,10,...,N,False,Automatic (A1),170.9000,131.4000,Small Station Wagons,2017,3750,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016
30972,0.204,98,-1,99,Rear-Wheel Drive,10,650,Electricity,Electricity,10,...,N,False,Automatic (A1),132.2000,136.9000,Large Cars,2016,3500,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016
30973,0.192,101,-1,104,All-Wheel Drive,10,600,Electricity,Electricity,10,...,N,False,Automatic (A1),137.5000,144.6000,Large Cars,2016,3750,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016
30974,0.210,92,-1,98,All-Wheel Drive,10,700,Electricity,Electricity,10,...,N,False,Automatic (A1),125.3000,141.6000,Large Cars,2016,3250,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016
30975,0.216,91,-1,93,All-Wheel Drive,10,700,Electricity,Electricity,10,...,N,False,Automatic (A1),124.3000,128.4000,Standard Sport Utility Vehicle 4WD,2016,3250,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016

## Fill nan values with the most appropriate technique 
*HINT: Electric cars do not have cylinders and can therefore not have any displacement*

In [22]:
# Observo que columnas contienen nulos
data.isna().sum()[data.isna().sum() > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [23]:
# Observo que valores toman y cual es la distribución para decidir como relleno los nulos
cols_to_explore = data.isna().sum()[data.isna().sum() > 0].index

for col in cols_to_explore:
    print(data[col].value_counts(), '\n\n')

4.0     14486
6.0     13184
8.0      8293
5.0       766
12.0      569
3.0       207
10.0      153
2.0        54
16.0        8
Name: cylinders, dtype: int64


2.0    3537
3.0    2956
2.5    2366
2.4    1921
1.8    1580
       ...
8.3       9
7.4       4
0.9       4
0.6       3
0.0       2
Name: displ, Length: 66, dtype: int64


Front-Wheel Drive             13286
Rear-Wheel Drive              12931
4-Wheel or All-Wheel Drive     6648
All-Wheel Drive                2057
4-Wheel Drive                  1065
2-Wheel Drive                   507
Part-time 4-Wheel Drive         159
2-Wheel Drive, Front              1
Name: drive, dtype: int64


Automatic 4-spd                     11042
Manual 5-spd                         8311
Automatic 3-spd                      3151
Automatic (S6)                       2638
Manual 6-spd                         2429
Automatic 5-spd                      2184
Manual 4-spd                         1483
Automatic 6-spd                      1432
Automatic (S8)                        960
Automatic (S5)                        824
Automatic (variable gear ratios)      681
Automatic 7-spd                       663
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        233
Auto(AM7)                             160
Auto(AV-S6)                           145
Auto(AM6)                             110
Automatic (A1)                        109
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           77
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Manual 4-spd Doubled                   17
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Manual(M7)                              3
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto (AV)                               2
Auto(A1)                                1
Automatic (AM6)                         1
Automatic 6spd                          1
Auto (AV-S8)                            1
Auto (AV-S6)                            1
Manual 5 spd                            1
Auto(AM-S9)                             1
Name: trany, dtype: int64

In [24]:
data.head(10)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
6,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
7,13.733750,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
8,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
9,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,0,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [25]:
"""
cylinders: relleno nulos con la mediana (valor más sólido), si son eléctricos relleno con 0

displ: relleno nulos con la mediana (valor más sólido), si son eléctricos relleno con 0

drive: observo que los registros están ordenados por modelo de coche y asumo que un mismo modelo solo se fabrica con
un modo de tracción por lo que relleno con el último valor conocido (forwardfill)

trany: solo tengo 11 valores nulos y en este caso puede tomar muchos valores distintos para un mismo modelo (manual
5V, manual 6V, secuencial, automático...) decido rellenar con 'Unknown'
"""

# Lo aplico primero para no tener en cuenta los eléctricos al calcular la mediana
data['cylinders'][data['fuelType'] != 'Electricity'].fillna(data['cylinders'].median(), inplace=True)
data['displ'][data['fuelType'] != 'Electricity'].fillna(data['cylinders'].median(), inplace=True)

data['drive'].fillna(method='ffill', inplace=True)

# Puedo hacer la asignación en varias columnas a la vez
data.fillna(value={'cylinders': 0,
                   'displ': 0,
                   'trany': 'unknown'}, inplace=True);

In [26]:
# Compruebo los nulos
data.isna().sum()[data.isna().sum() > 0]

Series([], dtype: int64)

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [27]:
# Resuelto en el apartado anterior

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [28]:
data.loc[(data['cylinders'] == 0) & (data['displ'] != 0), :][['cylinders', 'displ']]

       cylinders  displ
21506        0.0    1.3

In [29]:
data.loc[(data['cylinders'] != 0) & (data['displ'] == 0), :][['cylinders', 'displ']]

Empty DataFrame
Columns: [cylinders, displ]
Index: []

Is there any row that seems to have strange values?

In [30]:
data.iloc[21506, :]

barrels08                        18.311667
barrelsA08                             0.0
charge120                              0.0
charge240                              0.0
city08                                  15
                          ...
createdOn     Tue Jan 01 00:00:00 EST 2013
modifiedOn    Tue Jan 01 00:00:00 EST 2013
phevCity                                 0
phevHwy                                  0
phevComb                                 0
Name: 21506, Length: 70, dtype: object

In [31]:
# El registro 21506 refleja un vehículo de gasolina que no tiene cilindros y tiene desplazamiento.
# No se trata de un error, se trata del motor renesis (motor Wankel) de Mazda
# https://thumbs.gfycat.com/PlayfulKindheartedAfricanpiedkingfisher-mobile.mp4

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

In [32]:
data[data.duplicated() == True]

Empty DataFrame
Columns: [barrels08, barrelsA08, charge120, charge240, city08, city08U, cityA08, cityA08U, cityCD, cityE, cityUF, co2, co2A, co2TailpipeAGpm, co2TailpipeGpm, comb08, comb08U, combA08, combA08U, combE, combinedCD, combinedUF, cylinders, displ, drive, engId, feScore, fuelCost08, fuelCostA08, fuelType, fuelType1, ghgScore, ghgScoreA, highway08, highway08U, highwayA08, highwayA08U, highwayCD, highwayE, highwayUF, hlv, hpv, id, lv2, lv4, make, model, mpgData, phevBlended, pv2, pv4, range, rangeCity, rangeCityA, rangeHwy, rangeHwyA, trany, UCity, UCityA, UHighway, UHighwayA, VClass, year, youSaveSpend, charge240b, createdOn, modifiedOn, phevCity, phevHwy, phevComb]
Index: []

[0 rows x 70 columns]

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [33]:
data.loc[(data['model'] == 'RX-7') & (data['cylinders'] == 0), 'cylinders']  # Localizo el registro

21506    0.0
Name: cylinders, dtype: float64

In [34]:
data.loc[(data['model'] == 'RX-7') & (data['cylinders'] == 0), 'cylinders'] = 4.0  # Reasigno el valor

In [35]:
# Localizo el índice de la columna y uso iloc para acceder por índices al valor
list(data.columns).index('cylinders')
data.iloc[21506, 22]

4.0

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [36]:
#your code

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [37]:
# investigando el DataFrame localizao que una columna es booleana
data['phevBlended'].dtype

dtype('bool')

In [38]:
# Selecciono las columnas numéricas o booleanas (1 o 0)
cols_numeric = data.select_dtypes(include=[np.number, bool]).columns

In [39]:
# transformo True y False en 1 y 0
data['phevBlended'] = data['phevBlended'].astype(int)

In [40]:
# Localizo las columnas con baja varianza
low_variance = []

for col in data._get_numeric_data().columns:

    if data[col].min() == data[col].quantile(.9):
        low_variance.append(col)

len(low_variance)

34

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [41]:
data.shape

(37843, 70)

In [42]:
data.drop(low_variance, axis=1, inplace=True)

In [43]:
data.shape

(37843, 36)

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [44]:
#Run this code
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [45]:
#Run this code
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col, 'IQR']
    cutoff = iqr*1.5
    lower = stats.at[col, '25%'] - cutoff
    upper = stats.at[col, '75%'] + cutoff
    results = data[(data[col] < lower) |
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

outliers.head()

/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/y_/_52qkxrx2mzfn2jljd0q7gy00000gn/T/ipykernel_8381/2419466631.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,Outlier
47,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,...,0,Automatic 3-spd,11.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
58,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,...,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
69,32.961,10,0.0,-1,888.7,10,0.0,8.0,5.2,Rear-Wheel Drive,...,0,Automatic 3-spd,12.0,15.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
80,32.961,9,0.0,-1,888.7,10,0.0,8.0,5.9,Rear-Wheel Drive,...,0,Automatic 3-spd,11.0,14.0,Vans,1985,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
275,32.961,9,0.0,-1,888.7,10,0.0,8.0,7.4,Rear-Wheel Drive,...,0,Automatic 4-spd,11.0,16.0,Standard Pickup Trucks,1993,-10000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 36 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   barrels08       37843 non-null  float64
 1   city08          37843 non-null  int64
 2   city08U         37843 non-null  float64
 3   co2             37843 non-null  int64
 4   co2TailpipeGpm  37843 non-null  float64
 5   comb08          37843 non-null  int64
 6   comb08U         37843 non-null  float64
 7   cylinders       37843 non-null  float64
 8   displ           37843 non-null  float64
 9   drive           37843 non-null  object
 10  engId           37843 non-null  int64
 11  feScore         37843 non-null  int64
 12  fuelCost08      37843 non-null  int64
 13  fuelType        37843 non-null  object
 14  fuelType1       37843 non-null  object
 15  ghgScore        37843 non-null  int64
 16  highway08       37843 non-null  int64
 17  highway08U      37843 non-null  float64
 18  hlv             37843 non-null  int64
 19  hpv             37843 non-null  int64
 20  id              37843 non-null  int64
 21  lv2             37843 non-null  int64
 22  lv4             37843 non-null  int64
 23  make            37843 non-null  object
 24  model           37843 non-null  object
 25  mpgData         37843 non-null  object
 26  pv2             37843 non-null  int64
 27  pv4             37843 non-null  int64
 28  trany           37843 non-null  object
 29  UCity           37843 non-null  float64
 30  UHighway        37843 non-null  float64
 31  VClass          37843 non-null  object
 32  year            37843 non-null  int64
 33  youSaveSpend    37843 non-null  int64
 34  createdOn       37843 non-null  object
 35  modifiedOn      37843 non-null  object
dtypes: float64(9), int64(17), object(10)
memory usage: 10.4+ MB

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [47]:
pd.to_datetime(data['year'], format='%Y')

0       1985-01-01
1       1985-01-01
2       1985-01-01
3       1985-01-01
4       1993-01-01
           ...
37838   1993-01-01
37839   1993-01-01
37840   1993-01-01
37841   1993-01-01
37842   1993-01-01
Name: year, Length: 37843, dtype: datetime64[ns]

In [48]:
data['year'].head()

0    1985
1    1985
2    1985
3    1985
4    1993
Name: year, dtype: int64

You can apply this technique to any column whose data type you would like to change.

In [49]:
data[['createdOn', 'modifiedOn']] = data[['createdOn', 'modifiedOn']].astype('datetime64[ns]')
# Puedes ignorar el warning que aparece porque algunas zonas horarias no se han podido inferir
# Puedes leer más al respecto en este post
# https://stackoverflow.com/questions/51206500/how-to-convert-a-string-datetime-with-unknown-timezone-to-timestamp-in-python

/opt/anaconda3/envs/mabatalla_2022/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/opt/anaconda3/envs/mabatalla_2022/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [50]:
data.head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,21,0.0,4.0,2.0,Rear-Wheel Drive,...,0,0,Manual 5-spd,23.3333,35.0000,Two Seaters,1985,-1250,2013-01-01,2013-01-01
1,29.964545,9,0.0,-1,807.909091,11,0.0,12.0,4.9,Rear-Wheel Drive,...,0,0,Manual 5-spd,11.0000,19.0000,Two Seaters,1985,-8500,2013-01-01,2013-01-01
2,12.207778,23,0.0,-1,329.148148,27,0.0,4.0,2.2,Front-Wheel Drive,...,0,0,Manual 5-spd,29.0000,47.0000,Subcompact Cars,1985,500,2013-01-01,2013-01-01
3,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,5.2,Rear-Wheel Drive,...,0,0,Automatic 3-spd,12.2222,16.6667,Vans,1985,-8500,2013-01-01,2013-01-01
4,17.347895,17,0.0,-1,467.736842,19,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,21.0000,32.0000,Compact Cars,1993,-4000,2013-01-01,2013-01-01

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [51]:
data['trany'].unique()

array(['Manual 5-spd', 'Automatic 3-spd', 'Automatic 4-spd',
       'Automatic 5-spd', 'Manual 4-spd', 'Manual 3-spd', 'Manual 6-spd',
       'Automatic (S5)', 'Automatic (variable gear ratios)',
       'Automatic 6-spd', 'Automatic (S6)', 'unknown', 'Automatic (S4)',
       'Automatic 7-spd', 'Automatic (S7)', 'Automatic (S8)',
       'Automatic (AM5)', 'Auto(AM6)', 'Auto(AV-S7)', 'Automatic (A6)',
       'Automatic (AV-S6)', 'Auto(AM7)', 'Manual 4-spd Doubled',
       'Manual 5 spd', 'Automatic (AM6)', 'Manual 7-spd', 'Auto(L4)',
       'Auto(L3)', 'Automatic (AV)', 'Auto (AV-S6)', 'Auto(AM5)',
       'Auto(AV-S6)', 'Auto (AV-S8)', 'Automatic 8-spd', 'Auto(AV-S8)',
       'Automatic (A1)', 'Auto (AV)', 'Auto(AM-S6)', 'Auto(AM-S7)',
       'Automatic 6spd', 'Automatic 9-spd', 'Automatic (S9)',
       'Auto(AM-S8)', 'Auto(A1)', 'Auto(AM8)', 'Manual(M7)',
       'Auto(AM-S9)'], dtype=object)

In [52]:
data['trany'].replace(to_replace=r'[()]', value=' ', regex=True, inplace=True)
data['trany'].replace(to_replace=r'[-]|(spd)', value='', regex=True, inplace=True)
data['trany'].replace(to_replace=r'(AutoAV)|(AutoAM)|(Auto AV)|(Auto AM)|(Automatic AV)|(Automatic AM)',
                      value='Automatic ', regex=True, inplace=True)
data['trany'].replace(to_replace=r'( AV)|( AM)', value=' ', regex=True, inplace=True)
data['trany'].replace(to_replace=r'( S)|( A)|( M)', value=' ', regex=True, inplace=True)
data['trany'].replace(to_replace=r'(Auto L)|(Auto )', value='Automatic ', regex=True, inplace=True)

data['trany'].replace(to_replace=r'\s{2}', value=' ', regex=True, inplace=True)
data['trany'].replace(to_replace=r'\s+$', value='', regex=True, inplace=True)

In [53]:
data['trany'].unique()

array(['Manual 5', 'Automatic 3', 'Automatic 4', 'Automatic 5',
       'Manual 4', 'Manual 3', 'Manual 6',
       'Automatic variable gear ratios', 'Automatic 6', 'unknown',
       'Automatic 7', 'Automatic 8', 'Manual 4 Doubled', 'Manual 7',
       'Automatic', 'Automatic 1', 'Automatic 9'], dtype=object)

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set.

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [54]:
data.shape

(37843, 36)

In [55]:
data = data.drop_duplicates()

In [56]:
data.shape

(37843, 36)

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [57]:
before = data.shape[0]

data.shape

(37843, 36)

In [58]:
data.drop(data.iloc[:, 5:7], axis=1, inplace=True)

In [59]:
data.drop_duplicates()

,barrels08,city08,city08U,co2,co2TailpipeGpm,cylinders,displ,drive,engId,feScore,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,4.0,2.0,Rear-Wheel Drive,9011,-1,...,0,0,Manual 5,23.3333,35.0000,Two Seaters,1985,-1250,2013-01-01,2013-01-01
1,29.964545,9,0.0,-1,807.909091,12.0,4.9,Rear-Wheel Drive,22020,-1,...,0,0,Manual 5,11.0000,19.0000,Two Seaters,1985,-8500,2013-01-01,2013-01-01
2,12.207778,23,0.0,-1,329.148148,4.0,2.2,Front-Wheel Drive,2100,-1,...,0,0,Manual 5,29.0000,47.0000,Subcompact Cars,1985,500,2013-01-01,2013-01-01
3,29.964545,10,0.0,-1,807.909091,8.0,5.2,Rear-Wheel Drive,2850,-1,...,0,0,Automatic 3,12.2222,16.6667,Vans,1985,-8500,2013-01-01,2013-01-01
4,17.347895,17,0.0,-1,467.736842,4.0,2.2,4-Wheel or All-Wheel Drive,66031,-1,...,0,90,Manual 5,21.0000,32.0000,Compact Cars,1993,-4000,2013-01-01,2013-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,19,0.0,-1,403.954545,4.0,2.2,Front-Wheel Drive,66030,-1,...,0,90,Automatic 4,24.0000,37.0000,Compact Cars,1993,-750,2013-01-01,2013-01-01
37839,14.330870,20,0.0,-1,386.391304,4.0,2.2,Front-Wheel Drive,66030,-1,...,0,90,Manual 5,25.0000,39.0000,Compact Cars,1993,-500,2013-01-01,2013-01-01
37840,15.695714,18,0.0,-1,423.190476,4.0,2.2,4-Wheel or All-Wheel Drive,66030,-1,...,0,90,Automatic 4,23.0000,34.0000,Compact Cars,1993,-1250,2013-01-01,2013-01-01
37841,15.695714,18,0.0,-1,423.190476,4.0,2.2,4-Wheel or All-Wheel Drive,66030,-1,...,0,90,Manual 5,23.0000,34.0000,Compact Cars,1993,-1250,2013-01-01,2013-01-01
37842,18.311667,16,0.0,-1,493.722222,4.0,2.2,4-Wheel or All-Wheel Drive,66031,-1,...,0,90,Automatic 4,20.0000,29.0000,Compact Cars,1993,-4500,2013-01-01,2013-01-01

In [60]:
after = data.shape[0]

data.shape

(37843, 34)

In [61]:
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [62]:
data.to_csv('../data/vehicles_clean.csv', index=False)

In [63]:
df = pd.read_csv('../data/vehicles_clean.csv')

df.head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,cylinders,displ,drive,engId,feScore,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,4.0,2.0,Rear-Wheel Drive,9011,-1,...,0,0,Manual 5,23.3333,35.0000,Two Seaters,1985,-1250,2013-01-01,2013-01-01
1,29.964545,9,0.0,-1,807.909091,12.0,4.9,Rear-Wheel Drive,22020,-1,...,0,0,Manual 5,11.0000,19.0000,Two Seaters,1985,-8500,2013-01-01,2013-01-01
2,12.207778,23,0.0,-1,329.148148,4.0,2.2,Front-Wheel Drive,2100,-1,...,0,0,Manual 5,29.0000,47.0000,Subcompact Cars,1985,500,2013-01-01,2013-01-01
3,29.964545,10,0.0,-1,807.909091,8.0,5.2,Rear-Wheel Drive,2850,-1,...,0,0,Automatic 3,12.2222,16.6667,Vans,1985,-8500,2013-01-01,2013-01-01
4,17.347895,17,0.0,-1,467.736842,4.0,2.2,4-Wheel or All-Wheel Drive,66031,-1,...,0,90,Manual 5,21.0000,32.0000,Compact Cars,1993,-4000,2013-01-01,2013-01-01